*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}


.nav{
    display: flex;
    height: 75px;
    width: 100%;
    background-color: rgb(23, 18, 18);

}


.menu ul{
    display:flex;
    list-style: none;
   justify-content: center;
   
}
.menu ul li{
    margin: 20px;
}
.menu ul li a{
    
    color: rgb(104, 15, 238);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.menu ul li a:hover{

    color: aqua;
   
    
}

.menu{
    flex: 1;
}
.social-links{
    display: flex;
    list-style: none;
}
.social-links li i {
    font-size: 30px;
    padding: 10px;
}
